<configuration>

    <appender name="LogbackClassic" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.mina" level="OFF" additivity="False"/>
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="OFF" additivity="False"/>


    <root level="trace">
        <appender-ref ref="LogbackClassic" />
    </root>
</configuration>