<configuration>

    <appender name="LogbackClassic" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.mina" level="TRACE"/>
    <logger name="com.zaxxer.hikari.pool" level="OFF"/>
    <logger name="factory" level="ERROR"/>

    <root level="trace">
        <appender-ref ref="LogbackClassic" />
    </root>
</configuration>